body {
    font-family: 'Special Elite', cursive;
    background-image: url('background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    width: 50%;
    color: white;
}

.header {
    position: relative;
}

.header img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.wiki-logo {
    width: 75px;
}

.hit-counter {
    position: absolute;
    top: 20px;
    left: 20px;
}

.hit-counter img {
    width: 300px;
}

h1, h2, h3 {
    margin: 10px 0;
    font-size: 1.24em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 24px;
}

form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 24px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.leaderboard, .countdown {
    margin: 20px 0;
}

.leaderboard ol {
    list-style: none;
    padding: 0;
    text-align: left;
}

.leaderboard ol li {
    font-size: 24px;
    margin: 5px 0;
}

.countdown p {
    font-size: 24px;
}
