body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(
        to bottom,
        #F9EB00 25%,
        #C5D600 25%,
        #007AFF 25%,
        #FF0064 25%
    );
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 1.5625em; /* Increased font size by 25% */
    position: relative;
}

.external-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.external-link.left {
    left: 10px;
}

.external-link.right {
    right: 10px;
}

.external-link img {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    border-radius: 8px;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 150px; /* Create space for the external links */
}

.banner-image {
    width: 100%;
    border-radius: 8px;
}

form {
    margin-top: 20px;
}

label {
    font-weight: 600;
    display: block;
    margin: 10px 0 5px;
    font-size: 1em;
}

input[type="text"],
input[type="number"],
input[type="url"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

input::placeholder {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

form {
    margin-top: 20px;
    padding: 0 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

#leaderboard a {
    color: yellow;
    font-size: 1em;
}

#leaderboard p {
    margin: 5px 0;
    font-size: 1em;
}

.wiki-logo img {
    width: 150px;
    height: auto;
    margin-top: 20px;
}
